* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

#wrapper {
    margin: 10px auto;
    width: 90%;
}

.pageTitle {
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;

}